{% extends 'basic.html' %}

{% block title %} Admission System {% endblock %}
{% block home %} active {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<style>
  .card-body{
    width:100%;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
</style>
{% if request.user.is_authenticated %}

{% else %}
<div class="container mt-3">
  <div class="alert alert-danger" role="alert">
    <h5>Login to fill the application form</h5>
  </div>
</div>
{% endif %}
<div class="container mt-4">
<div class="row mt-4">
  {% for i in notice %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text"><a href="/notice/{{i.id}}/">View all recent updates.</a></p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  </div>
{% endblock %}