{% extends 'basic.html' %}

{% block title %} Admission System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form action="/edit_application/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="container mt-3">
   {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="width: 100%; height: auto;background-color: rgb(226, 93, 93); ">Update</button>
    </div>
    <br>
</form>
{% endblock %}
{% block js %}
<script>
{% if alert %}
    alert("Application updated successfully.")
    window.location = "/application_form"
{% endif %}
</script>
{% endblock %}

