{% extends 'admin.html' %}

{% block title %} {{application.name}} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Personal Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{application.student_profile.url}}" alt="" width="310px" height="270px">
                
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Course :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.course}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email ID :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.email}}</p>
                        </div>
                    </div>
                    {% if application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.phone_no}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<hr>

<h2>Voucher Details: </h2>
<p><a href="{{application.voucher.url}}"> View attached voucher </a></p>
<hr>

<hr>
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center; width:100%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">Educational Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                <h3>SEE/SLC Details(10years of Schooling)</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>SLC Percentage/CGPA :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.SLC_percentage}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>SLC/SEE Marksheet :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.SLC_marksheet.url}}">View SLC/SEE Marksheet</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>SLC/SEE Passing Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.SLC_passing_certificate.url}}"> View SLC Passing Certificate</a></p>
                        </div>
                    </div>
                    {% if application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>SLC/SEE Character Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.SLC_leaving_certificate.url}}">View SLC/SEE Character Certificate</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>High School (+2)</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>High School(+2) Percentage :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.high_percentage}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>High School(+2) Marksheet :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.high_marksheet.url}}">View High School(+2) Marksheet</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>High School(+2) Passing Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.high_passing_certificate.url}}">High School(+2) Transcript</a></p>
                        </div>
                    </div>
                    {% if application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>High School(+2) Migration Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.high_leaving_certificate.url}}">High School(+2) Migration Certificate</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr>
<hr>
<hr>
<h4>Click here to edit the status</h4><a href="/application_status/{{application.id}}/" class="btn btn-secondary"style="width:100%; height: 50px;background-color: rgb(235, 101, 101);">Edit Status</a>
{% endblock %}